<div class="questionlistcontainer">
    {{#each questionlist}}
        <div class="questioncontainer">
            <span> {{quiz_question}} </span>
            <ul>
                {{#each choices}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
            <tr</tr>
            <span class="correct-index"> Correct Index: {{correct_index}}</span>
        </div>
    {{/each}}
    <button onclick="returnHome();"> Return </button>
</div>