<div class="bodycontainer">
    <div id="title" name="title">
        <span> For testing purposes </span>
    </div>
    <div class="menucontainer">
        <div>
            <button class="menubuttons"> Add a Question </button> 
        </div>
        <div>
            <button class="menubuttons"> Edit a Question </button> 
        </div>
        <div>
            <button class="menubuttons"> Delete a Question </button> 
        </div>
        <div>
            <button class="menubuttons"> Question List </button> 
        </div>
        <div>
            <button class="menubuttons"> Answer a Question </button>
        </div>
        
    </div>
    
</div>