<div class="bodycontainer">
    <div id="title" name="title">
        <span> For testing purposes </span>
    </div>
    <div class="menucontainer">
        <div>
            <button class="menubuttons" onclick="addQuestion();"> Add a Question </button> 
        </div>
        <div>
            <button class="menubuttons" onclick="idForm('edit');"> Edit a Question </button> 
        </div>
        <div>
            <button class="menubuttons" onclick="idForm('delete');"> Delete a Question </button> 
        </div>
        <div>
            <button class="menubuttons" onclick="viewList();"> Question List </button> 
        </div>
        <div>
            <button class="menubuttons" onclick="idForm('answer');"> Answer a Question </button>
        </div>
    </div>
    
</div>