<div class="resultcontainer">
    {{#if result}}
        <span id="correctresult">CORRECT!</span>
    {{else}}
        <span id="falseresult">WRONG!</span>
    {{/if}}
    <br><br>
    <button onclick="returnHome();">Return Home</button>
</div>
