body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodycontainer {
    background-color: #D0EFEA;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 80vw; 
    margin: auto;
}

.menucontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.addquestioncontainer{
    background-color: #E0B0FF;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 80vw; 
}

.questionlistcontainer{
    display: flex;
    flex-direction: column;
    height: 75vh; 
    width: 80vw;  
    overflow-y: auto; 
    padding: 10px;  
    box-sizing: border-box; 
}

.questioncontainer{
    background-color: #D3D3D3;
    align-items: center;
    display: flex;
    margin: 2px;
    border-radius: 2%;
    border-color: black;
    height: 100px;
}

.questioncontainer span:last-child{
    margin-left: auto;
}

/* 
#question{

} */

.menubuttons{
    width: 300px;
}

.choicecontainer{
    margin: 5px;
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    font-family:'Trebuchet MS', sans-serif;
    
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    font-family:'Trebuchet MS', sans-serif;
    
}


#createForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

#addtitle{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    font-size: xx-large;
    font-weight: bold;
    font-family:'Trebuchet MS', sans-serif;
    
}
